body {
  height: 100vh;
  width: 100vw;
}
html {
  overflow-x: hidden;
  /* THEMES */
  --mainTextColor: #000000;
  --mainButtonColor: #98989829;
  --mainButtonHover: #9898986b;
  --mainBorderColor: #000000;
  --mainPlaceholderColor: #d4d4d4;
}
h1, h2, h3, button {
  color: var(--mainTextColor);
}
.welcomePage {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#background {
  top: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
}
.setupCard {
  position: absolute;

  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100vh;
}
.stepOne {
  animation: ghostin 0.8s ease 1.8s forwards;
  display: flex;
  flex-direction: column;
  width: 336px;
  position: absolute;
  opacity: 0;
}
.SetUpGalaxy {
  opacity: 0;
  margin: 0;
  font-size: 190px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
}
.question {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}
.question2 {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
  margin-top: 16px;
}
.setupInput {
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: var(--mainTextColor);
  border-radius: 5px;
  border: 2px solid;
  outline: none;
  background: none;
  width: 20rem;
  padding: 15px 0px 15px 10px;
  transition-duration: 0.4s;
  margin-top: 16px;
  border: 1px solid var(--mainBorderColor);
}

.setupInput:focus {
  transform: translateX(10px);
  border: 2px solid 3px;
}
.setupInput::placeholder {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: var(--mainPlaceholderColor);
  opacity: 1;
}
.stepTwo {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: absolute;
  opacity: 0;
  display: none;
}

.setupButtonBig,
.setupButtonSmall {
  height: 40px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--mainButtonColor);
  border-radius: 7px;
  margin-top: 16px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  transition-duration: 0.2s;
  border: 1px solid var(--mainBorderColor);
}
.setupButtonBig {
  width: 120px;
}
.setupButtonSmall {
  width: 60px;
}
.setupButtonBig:hover,
.setupButtonSmall:hover {
  background-color: var(--mainButtonHover);
}
.SetupSelect {
  margin-top: 8px;
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--mainButtonColor);
  color: var(--mainTextColor);
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  border: 1px solid var(--mainBorderColor);
}
#proxySelector option {
  background-color: #444444;
  color: #ffffff;
}
.stepThree {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  display: none;
}
.bgSelector {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 30px;
}
.bgAll {
  width: 470px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.bgImg {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.finishSetup {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  display: none;
}
