body,
main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
html {
  overflow-x: hidden;
  /* THEMES */
  --mainTextColor: #000000;
  --mainButtonColor: #98989829;
  --mainButtonHover: #9898986b;
  --mainBorderColor: #000000;
  --mainPlaceholderColor: #d4d4d4;
}
h1,
h2,
h3,
button {
  color: var(--mainTextColor);
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* SET UP PAGE */
/*----------------------------------------------------*/
/*----------------------------------------------------*/

.welcomePage {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#background {
  top: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
  z-index: -111;
  transform: scale(1.05);
}
.setupCard {
  position: absolute;

  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100vh;
}
.stepOne {
  animation: ghostin 0.8s ease 1.8s forwards;
  display: flex;
  flex-direction: column;
  width: 336px;
  position: absolute;
  opacity: 0;
}
.SetUpGalaxy {
  opacity: 0;
  margin: 0;
  font-size: 190px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
}
.question {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}
.question2 {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
  margin-top: 16px;
}
.setupInput {
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: var(--mainTextColor);
  border-radius: 5px;
  border: 2px solid;
  outline: none;
  background: none;
  width: 20rem;
  padding: 15px 0px 15px 10px;
  transition-duration: 0.4s;
  margin-top: 16px;
  border: 1px solid var(--mainBorderColor);
}

.setupInput:focus {
  transform: translateX(10px);
  border: 2px solid 3px;
}
.setupInput::placeholder {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: var(--mainPlaceholderColor);
  opacity: 1;
}
.stepTwo {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: absolute;
  opacity: 0;
  display: none;
}

.setupButtonBig,
.setupButtonSmall {
  height: 40px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--mainButtonColor);
  border-radius: 7px;
  margin-top: 16px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  transition-duration: 0.2s;
  border: 1px solid var(--mainBorderColor);
}
.setupButtonBig {
  width: 120px;
}
.setupButtonSmall {
  width: 60px;
}
.setupButtonBig:hover,
.setupButtonSmall:hover {
  background-color: var(--mainButtonHover);
}
.SetupSelect {
  margin-top: 8px;
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--mainButtonColor);
  color: var(--mainTextColor);
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  border: 1px solid var(--mainBorderColor);
}
#proxySelector option {
  background-color: #444444;
  color: #ffffff;
}
.stepThree {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  display: none;
}
.bgSelector {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 85vw;
  height: 25vh;
}
.bgAll {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  height: 100%;
}
.bgImg {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.finishSetup {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  display: none;
}
.easteregg {
  position: absolute;
  color: #000000fa;
  bottom: 0;
  right: 0;
  font-size: 3px;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* HOMEPAGE */
/*----------------------------------------------------*/
/*----------------------------------------------------*/

.homepage {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homepagestart {
  position: relative;
  font-size: 100px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  opacity: 0;
}
.swipeUp {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.background {
  height: 100vh;
  width: 100vw;
  position: static;
  border: 0px;
  margin: 0;
}
.clicktogetstarted {
  position: relative;
  opacity: 0;
  animation: ghostinhalf 0.5s ease 1.5s forwards;
  top: 20vh;
}
#timeDisplay {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 4rem;
  color: var(--mainTextColor);
  opacity: 0;
}
.bottomNav {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  height: 85px;
  width: auto;
  background-color: #7e7e7e10;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  backdrop-filter: blur(10px);
}
.app {
  opacity: 0;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: #80808034;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icons {
  font-size: 30px;
  color: var(--mainTextColor);
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* BROWSER */
/*----------------------------------------------------*/
/*----------------------------------------------------*/

.navTop {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.topNavButtons {
  display: flex;
  flex-direction: row;
}
#search {
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: #d1d1d1;
  border-radius: 15px;
  border: 2px solid;
  outline: none;
  background: none;
  width: 90%;
  height: 30px;
  border: 1px solid #747474;
  padding-left: 20px;
}
.browserBody {
  overflow: hidden;
}
.browser {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.navLeft,
.navRight {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10px;
}
.browserIcon {
  cursor: pointer;
  margin: 0 10px;
  color: #d1d1d1 !important;
}
#web {
  overflow: hidden;
  width: 100vw;
  height: 93%;
  border: 0px;
  top: 60px;
  position: absolute;
  z-index: 10;
}
.Browserbackground {
  top: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
  z-index: -111;
  transform: scale(1.05);
  background-image: url("../bg/bg3.png");
}
.GalaxyBrowserh1 {
  opacity: 0;
  font-size: 100px;
  color: #d1d1d1;
  position: fixed;
}

.luna-window-title-bar-right {
  color: white;
}
.luna-window-title {
  color: white;
}
.luna-window-icon {
  transition-duration: 0.2s;
}
.luna-window-icon:hover {
  background-color: #ffffff1b !important;
}