/* All styles are stored in one css file because swup.js won't update the header when the page transitions */

html {
  overflow-x: hidden;
  /* THEMES */
  --background-color: #0e100f;
  --h1: rgb(255, 255, 255);
  --h2: rgb(255, 255, 255);
  --gradient2: #9ddbf3;
  --gradient3: #7a7a7b;
  --input-border: rgb(255, 255, 255, 0.2);
  --input-border-focus: #ffffff;
  --circle-border: #333;
  --button-background: rgb(49, 49, 49);
  --button-background-light: #bdbdbdc9;
}
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--h1);
  margin-left: 170px;
  --width: 1440px;
  z-index: 10;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  height: auto;
}
.background {
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -10000;
  filter: blur(2px);
}
.gradient-container {
  position: absolute;
  top: 0;
  margin: 0;
  width: 90vw;
}
.gradient-2,
.gradient-3 {
  z-index: -10;
}
.gradient-2 {
  opacity: 0;
  position: absolute;
  height: 384px;
  width: 384px;
  border-radius: 50%;
  background-color: var(--gradient2);
  top: -25.5rem;
  left: 50%;
  filter: blur(150px);
  animation: ghostin 1s ease-out 0.7s forwards;
}
.gradient-3 {
  position: absolute;
  height: 404px;
  width: 404px;
  border-radius: 50%;
  background-color: var(--gradient3);
  top: -15.5rem;
  left: 20%;
  filter: blur(200px);
  overflow-x: hidden;
}

#search {
  opacity: 0;
  animation: ghostin 1s ease-out 0.5s forwards;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid var(--input-border);
  outline: none;
  background: none;
  color: var(--h1);
  width: 38rem;
  background-image: url("/global/img/search.png");
  background-size: 20px;
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding: 15px 0px 15px 40px;
  margin-bottom: 10vh;
  transition-duration: 0.5s;
}
#search:focus {
  transform: scale(1.05);
  border: 2px solid var(--input-border-focus);
}
#controls {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

#controls button {
  background: var(--button-background);
  border: none;
  color: inherit;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}

#web {
  z-index: 100000;
  position: fixed;
  top: 2.5rem;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 2.5rem);
  border: none;
  background: #212121;
  user-select: none;
}
.index_body {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18vh;
}
.features {
  transform: scale(0.85);
  overflow-x: hidden;
  padding: 1rem 2rem 8rem 2rem;
}

.features-grid {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.feature-card {
  opacity: 0;
  min-width: 300px;
  width: 24%;
  height: 250px;
  background-color: #4d4d4d04;
  padding: 2rem;
  border-radius: 16px;
  backdrop-filter: blur(15px);
  border: 1px solid var(--input-border);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.feature-card::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  transition: 0.5s;
}

.feature-card:hover::before {
  top: 100%;
}

.feature-card:hover {
  transform: translateY(-10px) scale(1.02);
}

.feature-icon {
  font-size: 2rem;
  margin-bottom: 0rem;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card:hover .feature-icon {
  transform: scale(1.1) rotate(10deg);
}

.feature-card h3 {
  opacity: 0;
  color: var(--h1);
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 1.7rem;
  animation: ghostin 1s ease-out 0.7s forwards;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card:hover h3 {
  transform: translateX(10px);
  font-weight: 600;
}

.feature-card p {
  color: var(--h2);
  font-family: "Outfit";
  font-size: 1.05rem;
  font-weight: 200;
  line-height: 1.6;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.bottombtns {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.ab {
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ffffff12;
  border: 1px solid var(--input-border);
  border-radius: 7px;
  margin: 12vh 2vh;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  transition-duration: 0.2s;
}
.ab:hover {
  background-color: var(--button-background-light);
}
#parallax {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indexTitle {
  margin-top: 3rem;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-size: 5rem;
  margin-left: 1.25rem;
  margin-bottom: 0rem;
}
.galaxy {
  opacity: 0;
  letter-spacing: 20px;
  display: inline-block;
}
.slogan {
  opacity: 0;
  color: var(--h2);
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  margin-bottom: 3em;
  text-align: center;
  animation: ghostin 1s ease-out 0.7s forwards;
}
@media (max-width: 900px) {
  .indexTitle {
    font-size: 4rem;
  }
  #search {
    width: 50%;
  }
}
@media (max-width: 650px) {
  #search {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .indexTitle {
    font-size: 2.5rem;
  }
  .slogan {
    font-size: 1rem;
  }
  .gradient-3 {
    display: none;
  }
}
@media (max-width: 350px) {
  .indexTitle {
    display: block;
    font-size: 1rem;
  }
  .slogan {
    display: none;
  }
}
@media (max-width: 250px) {
  .indexTitle {
    display: block;
    font-size: 0.5rem;
    letter-spacing: 0px;
  }
  .slogan {
    display: none;
  }
}

/* GAME & APP CSS */
.gamefilters {
  opacity: 0;
  animation: ghostin 1s ease-out 0.5s forwards;
  width: var(--width);
  display: flex;
  flex-direction: column;
}
#gamesearch,
.gamesearch {
  font-size: 14px;
  border: 1px solid var(--input-border);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  outline: none;
  background: none;
  color: var(--h1);
  background-size: 20px;
  background-position: 10px 15px;
  background-repeat: no-repeat;
  height: 20px;
  margin-bottom: 2rem;
  transition-duration: 0.3s;
  padding: 15px 0px 15px 0px;
  width: 297px;
}
#gamesearch {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  background-image: url("/global/img/search.png");
  padding: 15px 0px 15px 40px;
}
#gamesearch:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.gamebody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genre-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
.genre-filter {
  display: none;
}

label a,
.game {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Outfit";
  font-weight: 500;
  font-size: 16px;
}
.checkbox_highlight {
  cursor: pointer;
  color: #ffffff;
  background-color: #ffffff0c;
  padding: 0.7rem 0.95rem;
  border-radius: 1.25rem;
  background-color: #ffffff1a;
  transition-duration: 0.5s;
}
.checkbox_highlight:hover {
  background-color: #ffffff5b;
}
.genre-filter:checked + .checkbox_highlight {
  background-color: var(--h1);
  color: var(--background-color);
}

.gameSearchinput {
  display: none;
}

.gameTitle {
  margin-top: 5rem;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-size: 5rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  margin-left: 1.25rem;
}
.h1game {
  opacity: 0;
  display: inline-block;
}
.games,
.apps {
  width: var(--width);
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.game {
  opacity: 0;
  width: 335px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.game img {
  filter: brightness(0.8);
}
.cards {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 10px;
}
.gamecontainer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}
.gamecontainer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease all;
}
.cards {
  transition: 0.5s ease all;
  width: 100%;
  object-fit: cover;
}
.gamecontainer:hover .cards {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.gamecontainer:hover::after {
  opacity: 0.2;
}

.cardname {
  position: absolute;
  opacity: 0;
  transition-duration: 0.3s;
  font-family: "Outfit";
  font-weight: 500;
  font-size: 30px;
  margin-top: -80px;
}
.cardgenre {
  position: absolute;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  font-family: "Outfit";
  font-weight: 200;
  font-size: 15px;
  margin-top: -40px;
}
.notice {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 15px;
}
.discordp {
  font-weight: 500;
  cursor: pointer;
}
.discordp:hover {
  text-decoration: underline;
}
.game:hover .cardname,
.game:hover .cardgenre {
  margin-left: 1vw;
  opacity: 1;
}
.randomgamebtn {
  backdrop-filter: blur(10px);
}
.randomcard {
  opacity: 0;
  animation: ghostin 0.3s ease 0.5s forwards;
  cursor: pointer;
  position: relative;
  width: 335px;
  height: 200px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.randombg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 325px;
  height: 190px;
  z-index: 2;
  background-color: #080808;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid #00000031;
}
.randomcard p {
  color: #b9b9b9;
  z-index: 5;
  font-family: "Outfit";
  font-weight: 300;
  font-size: 25px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.randomcard:hover p {
  font-size: 30px;
  color: #fff;
}
.randomblob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/*TITLE FONT SIZE*/
@media (max-width: 768px) {
  .gameTitle {
    font-size: 4rem;
  }
}
@media (max-width: 650px) {
  #search {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .gameTitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  .gameTitle {
    display: block;
    font-size: 1rem;
  }
}
@media (max-width: 250px) {
  .gameTitle {
    display: block;
    font-size: 0.5rem;
    letter-spacing: 0px;
  }
}

/*GAMES / SEARCH BAR*/
@media (max-width: 1590px) {
  main {
    --width: 1080px;
  }
}
@media (max-width: 1250px) {
  main {
    --width: 700px;
  }
}
@media (max-width: 870px) {
  main {
    --width: 335px;
  }
}

/* SETTING CSS */
.settingmain {
  height: 200vh;
}
#tabname::placeholder,
#favicon::placeholder {
  color: var(--button-background-light);
}
#tabname,
#favicon {
  border-bottom: 2px solid var(--input-border);
}
#tabname:focus,
#favicon:focus {
  border-bottom: 1px solid var(--input-border-focus);
}
.settingTitle {
  color: var(--h1);
  margin-top: 5rem;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-size: 5rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.settings {
  width: 70vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settingcontainer {
  width: 100%;
  opacity: 0;
  animation: ghostin 0.3s ease 0.5s forwards;
  transition-duration: 0.4s;
  padding: 30px;
}
.settingcontainer:hover {
  background-color: #ffffff0c;
}
.settingName {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.5rem;
}
.settingDesc {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1rem;
  color: #b1b1b1;
}
.settingBtn {
  height: 50px;
  width: 100px;
  z-index: 1;
  background-color: var(--button-background);
  border: none;
  color: var(--h2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.circle {
  cursor: pointer;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  appearance: none;
  position: relative;
  box-sizing: content-box;
  font-size: 2.4em;
  height: 1em;
  aspect-ratio: 2;
  border: max(1px, 0.025em) solid var(--circle-border);
  border-radius: 1em;
  background: linear-gradient(#0003, #0000) 85% 50% / 23% 10%,
    linear-gradient(#777 0 0) 85% 50% / 23% 10%, linear-gradient(#0002 0 0),
    var(--circle-border);
  background-repeat: no-repeat;
  box-shadow: 0.05em 0.05em 0.1em #0002, inset 0 0 0.05em -0.025em #fff5,
    inset 0 0 0.2em #0002;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translate(-50%, -50%);
    height: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(
        circle at 50% 50%,
        var(--circle-border) calc(0.17em - 1px),
        #0000 0.17em
      ),
      radial-gradient(
        circle at 53% 53%,
        var(--circle-border) 0.1em,
        #0000 0.18em
      ),
      #eee;
    box-shadow: inset 0 0 0.04em #0003, inset 0.015em 0.015em 0.05em #0004;
  }

  &::after {
    content: "";
    position: absolute;
    height: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #0000;
    top: 50%;
    left: 0.5em;
    transform: translate(-50%, -50%);
    transition: left 0.3s;
    background: radial-gradient(at 30% 30%, #ffffff08, #0002)
      var(--circle-border);
    box-shadow: max(1px, 0.05em) max(1px, 0.05em) 0.05em #0002,
      inset 0 0 max(1px, 0.05em) -0.04em #fff;
  }

  &:checked {
    &::after {
      left: calc(100% - 0.5em);
    }
  }

  &[disabled] {
    opacity: 0.25;
  }
}
.circle:hover,
button:hover {
  box-shadow: 0 0 30px var(--input-border);
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 0vh;
  width: 20vh;
  transition: 0.3s;
}
.dropdown a {
  font-family: Open Sans;
  transition: 0.4s;
  background-color: #0000004f;
}
.dropdown a:hover {
  background-color: #00000002;
}
.tabpresets {
  text-align: center;
  cursor: pointer;
  padding: 14px;
}
.settingcontainer:hover .dropdown {
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 305px;
}
.pp {
  color: var(--h1);
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1rem;
  padding: 20px;
}
.footer {
  position: absolute;
  bottom: -900px;
}
@media (max-width: 768px) {
  .settingTitle {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .settingTitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  .settingTitle {
    display: block;
    font-size: 1rem;
  }
}
@media (max-width: 250px) {
  .settingTitle {
    display: block;
    font-size: 0.5rem;
    letter-spacing: 0px;
  }
}

@keyframes ghostin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes navloader {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* PRIVACY POLICY */
.container {
  opacity: 0;
  animation: ghostin 1s ease-out 0.5s forwards;
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
}
.contaienr h1,
.container h2 {
  color: var(--h1);
  font-family: "Open Sans";
  font-weight: 500;
}
.container ul {
  list-style-type: none;
  padding: 0;
}
.container li {
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 15px;
}

/*SWUP.JS*/

.transition-fade {
  opacity: 1;
  transition: 350ms;
}
html.is-animating .transition-fade {
  opacity: 0;
  filter: blur(10px);
}
